# حي الياسمين

In [1449]:
#Import all relevant libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import dtale as dt
from ydata_profiling import ProfileReport as pr
import sweetviz as sv
import plotly.express as px 
## This statement allows the visuals to render within your Jupyter Notebook.
%matplotlib inline

## Loading the data
We can now load the dataset into pandas using the read_csv() function. This converts the CSV file into a Pandas dataframe.

In [1451]:
#Read in the csv file and convert to a Pandas dataframe

In [1452]:
df = pd.read_csv('gender_age.csv')

In [1453]:
df1 = pd.read_csv('business.csv')

### Viewing the dataframe
We can get a quick sense of the size of our dataset by using the shape method. This returns a tuple with the number of rows and columns in the dataset.

In [1455]:
df

   الجنس;"الفئة العمرية";الحجم
0                إناث;0-9;8524
1             إناث;10-19;11036
2              إناث;20-29;8697
3             إناث;30-39;10198
4              إناث;40-49;8017
5              إناث;50-59;3108
6               إناث;60-69;584
7               إناث;70-79;439
8                  إناث;80+;66
9                ذكور;0-9;8431
10            ذكور;10-19;10506
11            ذكور;20-29;11439
12             ذكور;30-39;9695
13             ذكور;40-49;6703
14             ذكور;50-59;4103
15             ذكور;60-69;1238
16              ذكور;70-79;332
17                  ذكور;80+;0

In [1456]:
df[['الجنس', 'الفئةالعمرية', 'الحجم']] = df['الجنس;"الفئة العمرية";الحجم'].str.split(';', expand=True)

In [1457]:
df.drop(['الجنس;"الفئة العمرية";الحجم'],axis = 1, inplace = True)

In [1458]:
df = df.rename(columns= {'الحجم': 'Count'})

In [1459]:
df = df.rename(columns= {'الجنس': 'Gender'})

In [1460]:
df = df.rename(columns= {'الفئةالعمرية': 'Age'})

In [1461]:
df['Count'] = df['Count'].astype(int)

In [1462]:
total = df['Count'].sum()

In [1463]:
total = { 'Gender': 'المجموع' , 'Age' : 'المجموع' , 'Count' : 103116}

In [1464]:
df = pd.concat([df, pd.DataFrame([total])], ignore_index=True)

In [1465]:
df

     Gender      Age   Count
0      إناث      0-9    8524
1      إناث    10-19   11036
2      إناث    20-29    8697
3      إناث    30-39   10198
4      إناث    40-49    8017
5      إناث    50-59    3108
6      إناث    60-69     584
7      إناث    70-79     439
8      إناث      80+      66
9      ذكور      0-9    8431
10     ذكور    10-19   10506
11     ذكور    20-29   11439
12     ذكور    30-39    9695
13     ذكور    40-49    6703
14     ذكور    50-59    4103
15     ذكور    60-69    1238
16     ذكور    70-79     332
17     ذكور      80+       0
18  المجموع  المجموع  103116

# ______________________________

In [1467]:
df1

                             الاسم;الحجم
0                             المقاهي;40
1               مطاعم الوجبات السريعة;29
2                 مطاعم محلية - بوفيه;19
3                    البقالات المحلية;17
4         المطاعم ذات الخدمات الشاملة;14
..                                   ...
347                    صالات المسافرين;0
348                          الليموزين;0
349              مرافق الحافلات الأخرى;0
350  محطات النقل داخل المدن وبين المدن;0
351              صالات ركاب سكة الحديد;0

[352 rows x 1 columns]

In [1468]:
df1[['الاسم', 'الحجم']] = df1['الاسم;الحجم'].str.split(';', expand=True)

In [1469]:
df1.drop(['الاسم;الحجم'],axis = 1, inplace = True)

In [1470]:
df1 = df1.rename(columns= {'الحجم': 'Count' })

In [1471]:
df1 = df1.rename(columns= {'الاسم': 'business' })

In [1472]:
df1['Count'] = df1['Count'].astype(int)

In [1473]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_restaurants = df1[df1['business'].str.contains('مطاعم', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المطاعم'], 'Count': [total_sum_restaurants]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1555]:
df1.tail(13)

                        business  Count
352           إجمالي عدد المطاعم     80
353      إجمالي عدد السوبر ماركت      7
354           إجمالي عدد المقاهي     40
355           إجمالي عدد المساجد     60
356    إجمالي عدد المراكز الصحية      5
357           إجمالي عدد الحدائق      6
358          إجمالي عدد البقالات     17
359  إجمالي عدد الأندية الرياضية      5
360       اجمالي عدد محطات الباص     10
361           اجمالي عدد المدارس     18
362      مدارس متوسط وثانوي بنين      4
363      مدارس متوسط وثانوي بنات      5
364               مدارس ابتدائية      5

In [1475]:
df1[(df1['business'].str.contains('الأندية', case=False, na=False))]

                      business  Count
165  الأندية الرياضية النسائية      3
169  الأندية الرياضية الرجالية      2

In [1476]:
df1['business'].values

array(['المقاهي', 'مطاعم الوجبات السريعة', 'مطاعم محلية - بوفيه',
       'البقالات المحلية', 'المطاعم ذات الخدمات الشاملة',
       'محلات أجهزة التسخين والتكييف ومعدات السباكة',
       'محلات بيع مواد البناء والمواد الزراعية الأخرى بالتجزئة',
       'المطاعم والأنشطة الأخرى ذات الصلة', 'الأسواق الصغيرة',
       'محلات الأطلية والزجاج وورق الحائط', 'محلات بيع الخضروات والفواكه',
       'مطاعم المأكولات الشعبية', 'محلات الموكيت والسجاد وبلاط الأرضيات',
       'الصيدليات', 'محلات المنتجات الكهربائية والمواد ذات الصلة',
       'السوبر ماركت', 'المجمعات التجارية',
       'محلات أجهزة وبرامج الحاسب الآلي',
       'محلات بيع منتجات السباكة والتكييف بالجملة', 'المخابز',
       'أفران الخبز البلدي', 'محطات البنزين',
       'محلات بيع الآلات غير الكهربائية بالجملة', 'المشاغل النسائية',
       'محلات النظارات', 'محلات الأثاث المنزلي',
       'محلات بيع اللحوم والأسماك والطيور الداجنة',
       'محلات الملابس الرجالية الجاهزة',
       'محلات الأثاث والتجهيزات المنزلية الأخرى',
       'محلات الكتب والقرطاسية واللوازم المكتبية',
       'محلات أطباق أجهزة الاستقبال الفضائي', 'المتاجر المصنفة',
       'محلات الأجهزة المنزلية', 'محلات العطارة والمحامص والمكسرات',
       'محلات الهواتف الجوالة', 'محلات الأدوات الرياضية',
       'محلات اكسسوارات وزينة السيارات',
       'محلات بيع المنتجات الكهربائية بالجملة',
       'محلات بيع السلع الأخرى بالجملة',
       'محلات الأثاث والتجهيزات الأخرى للبيع بالتجزئة',
       'محلات الملابس الأخرى', 'محلات الخزف الصيني والأواني المنزلية',
       'محلات الستائر وأغطية الأثاث', 'محلات الآيس كريم',
       'محلات المعدات والآلات الموسيقية', 'محلات بيع العود والعسل',
       'محلات لوازم السيارات', 'محلات بيع غاز الطبخ',
       'محلات نباتات الزينة والزهور', 'محلات العطور والبخور',
       'محلات الخياطة الرجالية', 'محلات البيع بالتجزئة الأخرى',
       'محلات البشوت', 'أنواع أخرى من تجارة الوقود',
       'محلات بيع المنتجات الزراعية الخام بالجملة',
       'محلات بيع المواد الغذائية والمواد ذات الصلة بالجملة',
       'محلات بيع الملابس والبضائع الجافة بالجملة',
       'محلات الخشب المنشور والمواد الخشبية الأخرى', 'محلات الساعات',
       'محلات الكاميرات ولوازم التصوير', 'محلات بيع الزجاج بالتجزئة',
       'محلات بيع الأدوية والكيماويات بالجملة', 'محلات النجارة والخردوات',
       'محلات قطع المفاتيح', 'محلات الراديوهات والتلفزيونات',
       'محلات المعدات الزراعية', 'محلات الأواني المنزلية البلاستيكية',
       'محلات المعدات والمستلزمات المكتبية ما عدا الأثاث المكتبي',
       'محلات الآلات غير الكهربائية والمعدات ذات الصلة',
       'محلات بيع التحف والأشياء المستعملة',
       'محلات المعدات الزراعية ومعدات الحدائق', 'مخازن المنوعات',
       'محلات المجوهرات الأخرى', 'محلات كل شيء بـ 2، 5، 10 ريال',
       'محلات الشرائط والاسطوانات الصوتية', 'محلات البضائع العامة الأخرى',
       'محلات تغليف الهدايا', 'محلات بيع مستلزمات الخياطة',
       'محلات العبايات', 'محلات البقالات الأخرى', 'محلات النجارة',
       'محلات الحلويات والشوكولاتة', 'محلات الأثاث والتجهيزات المكتبية',
       'الطواحين', 'المطابخ', 'محلات المواد الغذائية الأخرى',
       'محلات المعدات الطبية ومعدات طب الأسنان', 'محلات بيع السيارات',
       'محلات بيع الأثاث المستعمل', 'محلات الذهب والمجوهرات',
       'خدمات السيارات الأخرى', 'محلات الفضيات',
       'محلات الملابس النسائية الجاهزة', 'محلات ملابس الأطفال الجاهزة',
       'محلات بيع شرائط الفيديو', 'محلات الأحذية', 'محلات لعب الأطفال',
       'محلات الخياطة النسائية - عمالة ذكور',
       'محلات بيع السيارات ومعداتها بالجملة',
       'وكالات العقارات والأنشطة ذات الصلة', 'مؤسسات التجارة والمقاولات',
       'المغاسل وخدمات التنظيف الجاف', 'التخزين في الأماكن المكشوفة',
       'مؤسسات التجارة العامة والمقاولات', 'الخدمات المهنية الأخرى',
       'أعمال المقاولات المتخصصة الأخرى',
       'محلات صيانة وإصلاح أجهزة التبريد والتكييف',
       'أعمال التجارة والمقاولات الأخرى',
       'المكاتب الإدارية للمصانع والشركات الخاصة',
       'الخدمات المالية - تأمين وعقارات أخرى',
       'محلات الحلاقة وصالونات التجميل', 'المكاتب القانونية',
       'الشقق المفروشة والأجنحة الفندقية', 'المكاتب الهندسية والمعمارية',
       'مغاسل السيارات', 'الفنادق',
       'محلات صيانة السيارات - سمكرة وكهرباء وميكانيكا',
       'محلات تغيير الزيوت والتشحيم', 'أعمال التسقيف والصفائح المعدنية',
       'محلات البنشر', 'خدمات الأعمال الأخرى',
       'ورش تصنيع الأبواب والنوافذ - ألمونيوم',
       'التخزين في الأماكن المسقوفة', 'محلات نسخ وتصوير المستندات',
       'وكالات السفر', 'البنوك', 'محلات مستلزمات الحفلات والرحلات',
       'مرافق التخزين الأخرى', 'الخدمات الإعلانية والأنشطة ذات الصلة',
       'المسالخ', 'محلات إصلاح التلفزيونات والراديوهات',
       'محلات الصيرفة وسمسرة أسواق النقد', 'استراحات المسافرين',
       'الفلل المفروشة', 'مكاتب الترجمة', 'استديوهات التصوير',
       'خدمات إصلاح وصيانة السيارات الأخرى',
       'ورش تصنيع الأبواب والنوافذ - حديد',
       'خدمات الصيانة والإصلاح الأخرى', 'محلات إصلاح الأحذية',
       'مكاتب الاستشارات الاقتصادية', 'محلات تقييف الملابس',
       'الخدمات الشخصية الأخرى', 'المكاتب الإدارية العامة',
       'محلات الخطاطين', 'مؤسسات ووكالات الإعلان العامة',
       'خدمات العملاء وتقارير الأعمال', 'محلات إصلاح المعدات الكهربائية',
       'محلات طباعة الكروت', 'ورش تصنيع الأبواب والنوافذ - خشب',
       'خدمات النظافة', 'خدمات مكافحة الحشرات',
       'أنواع مختلفة من خدمات المباني', 'خدمات المنازل والعمائر العامة',
       'المكاتب المحاسبية', 'مكاتب التوظيف والاستقدام',
       'مؤسسات الخدمات الأمنية والحراسات', 'ساحات التخزين',
       'التخزين المبرد', 'المساجد المحلية', 'مساجد الجمع', 'مناطق الحجاج',
       'مصليات العيد', 'الاستراحات المعدة للإيجار اليومي',
       'صالات الألعاب', 'الأندية الرياضية النسائية',
       'حدائق الحارات الفرعية ذات مساحة أقل من 0.5 هكتار',
       'الاستراحات المعدة للاحتفالات',
       'حدائق المدن والبلديات الفرعية ذات مساحة 0.5 - 2 هكتار',
       'الأندية الرياضية الرجالية', 'السينما', 'الصالات الرياضية',
       'الحدائق الإقليمية ذات مساحة أعلى من 2 هكتار', 'ملاعب كرة السلة',
       'المرافق الرياضية الأخرى', 'ميادين كرة القدم الدائمة',
       'ملاعب الأطفال', 'الأنشطة الترفيهية الأخرى',
       'مرافق التجمعات العامة الأخرى', 'ملاعب الغولف', 'صالات الأفراح',
       'صالات المعارض', 'قاعات الاجتماعات',
       'مرافق التجمعات الرياضية الأخرى', 'مضامير السباق',
       'ملاعب الكرة الطائرة', 'المراكز الترفيهية', 'ملاعب التنس',
       'صالات التزلج', 'صالات السباحة', 'أندية ركوب الخيل',
       'صالات البولنج', 'الحدائق ومناطق الترفيه الخارجية الأخرى',
       'الأنشطة الثقافية والترفيهية والترويحية الأخرى', 'الإستادات',
       'مراكز\xa0التعليم\xa0المستمر',
       'مدارس تحفيظ القرآن الابتدائية للبنات',
       'المدارس الابتدائية الحكومية للبنات',
       'المدارس المتوسطة الحكومية للبنات',
       'المدارس الابتدائية الحكومية للبنين',
       'المدارس الخاصة الشاملة للبنين',
       'مدارس التدريب الخاص المهني والفني', 'خدمات التعليم الأخرى',
       'رياض الأطفال والتمهيدي', 'مدارس السفارات والجاليات',
       'الكليات والجامعات الأخرى', 'المدارس الحكومية الشاملة للبنين',
       'المدارس الخاصة الشاملة للبنات', 'الكليات والجامعات للبنين',
       'مرافق المعاقين والتعليم الخاص',
       'مدارس تحفيظ القرآن الثانوية للبنات', 'المدارس الابتدائية الأخرى',
       'المدارس المتوسطة الحكومية للبنين',
       'مدارس تحفيظ القرآن الابتدائية للبنين',
       'المدارس الابتدائية الخاصة للبنات',
       'المدارس الابتدائية الخاصة للبنين',
       'مدارس التدريب الخاص لقيادة السيارات',
       'المدارس المتوسطة الخاصة للبنين', 'المدارس المتوسطة الخاصة للبنات',
       'مدارس تحفيظ القرآن المتوسطة للبنين', 'المدارس الثانوية الأخرى',
       'مدارس تحفيظ القرآن المتوسطة للبنات', 'الكليات والجامعات للبنات',
       'المدارس المتوسطة الأخرى', 'المعاهد العليا',
       'المدارس الثانوية الحكومية للبنين',
       'المدارس الحكومية الشاملة للبنات',
       'المدارس الثانوية الحكومية للبنات', 'المدارس العالمية',
       'المدارس الثانوية الخاصة للبنين', 'المدارس الثانوية الخاصة للبنات',
       'مدارس التدريب الخاص الأخرى', 'مدارس تحفيظ القرآن الثانوية للبنين',
       'خدمات الرعاية الاجتماعية', 'مكاتب البريد المحلية',
       'مراكز الدفاع المدني', 'الجهات الحكومية الأخرى', 'الوزارات',
       'المرافق التأديبية والإصلاحية', 'الخدمات الحكومية الأخرى',
       'مرافق الخدمات البريدية الأخرى', 'الخدمات الأمنية الأخرى',
       'مكاتب البريد المركزية والرئيسية', 'مراكز شرطة المرور',
       'مراكز الشرطة', 'المكاتب الأجنبية',
       'المكاتب الحكومية على مستوى المدنية أو المنطقة',
       'مراكز الرعاية الأولية الحكومية', 'عيادات الأطباء الخاصة',
       'الهلال الأحمر', 'المرافق الصحية الحكومية الأخرى',
       'المختبرات الطبية الحكومية', 'عيادات أطباء الأسنان الحكومية',
       'المستشفيات الحكومية', 'المستوصفات الطبية',
       'عيادات الأطباء الحكومية', 'المصحات والاستراحات الخاصة',
       'المختبرات الخاصة', 'المستشفيات الخاصة',
       'عيادات أطباء الأسنان الخاصة', 'مصانع منتجات تشييد المباني',
       'مصانع الأدوات الصحية والسيراميك والسخانات',
       'مصانع الطوب الإسمنتي أو الطوب الأحمر', 'مصانع مواد الطلاء',
       'مصانع الذهب والمجوهرات', 'مصانع منتجات الألبان',
       'مصانع التكسيات الأخرى', 'مصانع منتجات البترول أو التكرير الأخرى',
       'مصانع المنتجات الزجاجية', 'مصانع البوظة', 'مصانع الأدوية',
       'مصانع الحلوى', 'مصانع المرطبات', 'مصانع المخبوزات',
       'مطاحن الغلال', 'مصانع الفواكه والخضروات المعلبة أو المحفوظة',
       'مصانع منتجات الطباعة والنشر الأخرى', 'مصانع مياه الشرب الصحية',
       'مصانع منتجات النظافة الشخصية', 'مصانع الثلج',
       'مصانع الكيماويات والأسمدة الزراعية',
       'مصانع المنتجات الغذائية الأخرى', 'مصانع جميع منتجات البلاستيك',
       'مصانع الأقمشة المنسوجة', 'مصانع السجاد والموكيت',
       'مصانع المنتجات الخرسانية والجبسية الأخرى',
       'مصانع منتجات النسيج الأخرى',
       'مصانع منتجات المعادن الأساسية الأخرى', 'مصانع الملابس',
       'مصانع معدات النقل', 'مصانع منتجات الجلود',
       'مصانع المطابع التجارية', 'مصانع دباغة الجلود',
       'مصانع منتجات الملابس الأخرى',
       'مصانع منتجات النظافة الصناعية والمنزلية',
       'مصانع المنتجات الخشبية', 'مصانع المنتجات الطبية الأخرى',
       'مصانع الأثاث المنزلي', 'مصانع العوازل',
       'مصانع التجهيزات والتمديدات الكهربائية',
       'مصانع منتجات البلاستيك المنزلية', 'مصانع الأدوات المنزلية الأخرى',
       'مصانع منتجات الألمنيوم المنزلية',
       'مصانع أنابيب البلاستيك (التمديدات)', 'مصانع الإسمنت',
       'مصانع وحدات التكييف الحائطية', 'مصانع البلاط',
       'مصانع معدات السباكة وتكييف الهواء الأخرى',
       'مصانع الخرسانة والجبس والجص', 'مصانع الورق الأساسي',
       'مصانع الحجر', 'مصانع ألواح وصناديق الورق المقوى',
       'مصانع القضبان الفولاذية', 'مصانع الورق الصحي', 'مصانع الألومنيوم',
       'مصانع منتجات الورق الأخرى', 'مصانع المنتجات المعدنية الأخرى',
       'مصانع الكتب', 'مصانع منتجات اللحوم', 'أبراج الهاتف الجوال',
       'خدمات وكلاء الشحن', 'خدمات النقل الأخرى',
       'المرافق الأخرى للتخلص من النفايات الصلبة',
       'المرافق البترولية الأخرى', 'التخلص من النفايات',
       'ساحات السيارات والمعادن الخردة', 'محطات معالجة مياه المجاري',
       'المرافق الأخرى لتصريف مياه المجاري', 'محطات معالجة المياه',
       'مرافق الإذاعة والتلفزيون الأخرى', 'محطات الأبراج لإرسال البث',
       'المرافق الأخرى للهاتف', 'الإسطبلات وتربية الخيول',
       'خدمات التعدين الأخرى', 'مشاتل الأشجار',
       'أنشطة التعدين والمحاجر ومناطق الاستخراج والكسارة',
       'المزارع غير المنتجة الأخرى', 'الأنشطة الأخرى المتعلقة بالزراعة',
       'المزارع العامة أو المختلطة', 'مزارع الدواجن', 'مزارع المواشي',
       'مزارع الفواكه والخضروات', 'مزارع المحاصيل الحقلية الأخرى',
       'مزارع النخيل', 'تأجير السيارات', 'خدمات المطارات والمهابط الأخرى',
       'وسائل النقل الأخرى بالسيارة', 'صالات المسافرين', 'الليموزين',
       'مرافق الحافلات الأخرى', 'محطات النقل داخل المدن وبين المدن',
       'صالات ركاب سكة الحديد', 'إجمالي عدد المطاعم'], dtype=object)

In [1477]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_super = df1[df1['business'].str.contains('سوبر', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد السوبر ماركت'], 'Count': [total_sum_super]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1478]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_coffee = df1[df1['business'].str.contains('مقاهي', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المقاهي'], 'Count': [total_sum_coffee]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1479]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_mosq = df1[df1['business'].str.contains('مساجد', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد المساجد'], 'Count': [total_sum_mosq]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1480]:
categories_to_sum = [
    'عيادات أطباء الأسنان الخاصة', 'عيادات الأطباء الخاصة', 'مراكز الرعاية الأولية الحكومية',
    'الهلال الأحمر', 'المرافق الصحية الحكومية الأخرى', 'المختبرات الطبية الحكومية',
    'عيادات أطباء الأسنان الحكومية', 'المستشفيات الحكومية', 'عيادات الأطباء الحكومية',
    'المصحات والاستراحات الخاصة', 'المختبرات الخاصة', 'المستشفيات الخاصة'
]

In [1481]:
filtered_df = df1[df1['business'].isin(categories_to_sum)]


total_sum_hosp = filtered_df['Count'].sum()



total_row = pd.DataFrame({'business': ['إجمالي عدد المراكز الصحية'], 'Count': total_sum_hosp})


df1 = pd.concat([df1, total_row], ignore_index=True)

In [1482]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_park = df1[df1['business'].str.contains('حدائق', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد الحدائق'], 'Count': [total_sum_park]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1483]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_gro = df1[df1['business'].str.contains('بقال', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد البقالات'], 'Count': [total_sum_gro]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1484]:
# Filter for rows where 'business' contains 'مطاعم' and sum the 'Count' column
total_sum_gym = df1[df1['business'].str.contains('الأندية', case=False, na=False)]['Count'].sum()

# Create a new row with the total
total_row = pd.DataFrame({'business': ['إجمالي عدد الأندية الرياضية'], 'Count': [total_sum_gym]})

# Append the new row to the original DataFrame
df1 = pd.concat([df1, total_row], ignore_index=True)

In [1485]:
bus = { 'business': 'اجمالي عدد محطات الباص' , 'Count' : 10}

In [1486]:
df1 = pd.concat([df1, pd.DataFrame([bus])], ignore_index=True)

In [1487]:
school = { 'business': 'اجمالي عدد المدارس' , 'Count' : 18}

In [1488]:
df1 = pd.concat([df1, pd.DataFrame([school])], ignore_index=True)

In [1489]:
schoolm = { 'business': 'مدارس متوسط وثانوي بنين' , 'Count' : 4}

In [1490]:
df1 = pd.concat([df1, pd.DataFrame([schoolm])], ignore_index=True)

In [1491]:
schoolf = { 'business': 'مدارس متوسط وثانوي بنات' , 'Count' : 5}

In [1492]:
df1 = pd.concat([df1, pd.DataFrame([schoolf])], ignore_index=True)

In [1493]:
schooly = { 'business': 'مدارس ابتدائية' , 'Count' : 5}

In [1494]:
df1 = pd.concat([df1, pd.DataFrame([schooly])], ignore_index=True)

In [1495]:
# الياسمين :  18 مدرسة 
# بنين : 4 متوسط وثانوي 
# بنات : 5 متوسط وثانوي
# ابتدائي : 5

In [1557]:
df1.to_csv('final_business_yasmin.csv')
df.to_csv('final_age_yasmin.csv')